.spanBlock {
}

.span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.pen {
}